<%= render 'form' %>

      <div class = "container">
        <h1> Welcome.</h1>
        <br>
        <p> Generate your new style guide via the form on the left. All displayed fonts are available at google.com/fonts. No saepe sanctus eam. In utroque patrioque nec. Ad eius viris neglegentur eam, ex eos albucius lobortis. Possim epicurei mnesarchum ne eos. Clita soleat prompta eum cu, vis ut epicuri intellegebat. Cu mea laudem aliquid. An eam hinc duis, ea volumus conceptam usu. Keep the change, ya filthy animal. </p>
        <br> <br>
      <section>

        <div class="c1" style= "Background-color: <%= @scheme.random_color %> ">
        </div>
        <div class="c2" style= "Background-color: <%= @scheme.random_color %> ">
        </div>
        <div class="c3" style= "Background-color: <%= @scheme.random_color %> ">
        </div>
        <div class="c4" style= "Background-color: <%= @scheme.random_color %> ">
        </div>
        <div class="c5" style= "Background-color: <%= @scheme.random_color %> ">
        </div>
      </section>
      </div>
<!-- Don't need this right now.
<%= link_to 'Back', schemes_path %> -->
