<!DOCTYPE html>
<html>
<head>
  <%= yield(:head) %>


  <!-- <link rel="stylesheet" href= "assets/css/stylesheet.css"> -->

  <%#= "<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?#{fonts_that_i_need}" %>
  <title>Nuevo Huevo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
        <img src=<%= asset_path('nuevo-huevo-logo.png') %>>
      </header>

      <!-- GENERIC DEVISE NOTICE below -->

      <!--  <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %> -->


<%= yield %>

</body>
</html>
